* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f8fafc;
  color: #1f2933;
}

/* HEADER */
.top {
  background: #020617;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top nav a {
  color: #38bdf8;
  margin-left: 20px;
  text-decoration: none;
}

/* HERO */
.hero {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.hero h2 {
  font-size: 2rem;
}

.hero p {
  margin: 20px 0;
  color: #cbd5f5;
}

/* PRODUTOS */
.products {
  padding: 70px 20px;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  max-width: 1000px;
  margin: auto;
}

.product-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.price {
  font-weight: bold;
  color: #38bdf8;
  display: block;
  margin-top: 10px;
}

/* CONTACT */
.contact {
  background: #e5e7eb;
  padding: 60px 20px;
  text-align: center;
}

/* FOOTER */
footer {
  background: #020617;
  color: #94a3b8;
  text-align: center;
  padding: 15px;
}
