* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  color: #1f2933;
}

/* HEADER */
.top {
  background: #020617;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top nav a {
  color: #38bdf8;
  margin-left: 20px;
  text-decoration: none;
}

/* HERO */
.hero {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.hero h2 {
  font-size: 2rem;
}

.hero p {
  margin-top: 10px;
  color: #cbd5f5;
}

/* TASKS */
.tasks {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.task-input {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.task-input input {
  width: 70%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.task-input button {
  padding: 10px 20px;
  margin-left: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  color: #020617;
  font-weight: bold;
  cursor: pointer;
}

ul#taskList {
  list-style: none;
  text-align: left;
}

ul#taskList li {
  background: white;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

ul#taskList li button {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: #020617;
  color: #94a3b8;
  text-align: center;
  padding: 15px;
}
footer a {
  color: #38bdf8;
  text-decoration: none;
}